.carousel {
    padding: 108px 0;

    &__inner {
        width: 750px;
        margin: 0 auto;
    }

    &__item {
        outline: none;
    }

    .slick-slider{
        position: relative;
    }

    // .slick-track{
    //     display: flex;
    //     justify-content: space-between;
    // }

    .slick-arrow{
        position: absolute;
        font-size: 0;
        z-index: 10;
        border: none;
        width: 31px;
        height: 50px;
        outline: none;
    }

    .slick-arrow.slick-prev{
        background: url('../icons/left.svg') 0 0 / 100% no-repeat;
        top: calc(50% - 15.5px);
        left: -66px;
    }

    .slick-arrow.slick-next{
        background: url('../icons/right.svg') 0 0 / 100% no-repeat;
        top: calc(50% - 15.5px);
        right: -66px;
    }
}